---
import { Image } from 'astro:assets';
import { clsx } from 'clsx';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
const { link, thumb, title, industry, year, description } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="flex rounded-lg transition-all hover:shadow-2xl"
>
  <Card>
    <CardHeader>
      <Image
        src={thumb}
        alt={`${title} screenshots`}
        class="mb-8 rounded border"
      />
      <CardTitle>{title}</CardTitle>
      <CardDescription className="text-white">{industry}</CardDescription>
      <CardDescription className="font-semibold">
        {year}
      </CardDescription>
    </CardHeader>
    <CardContent>
      <p>{description}</p>
    </CardContent>
  </Card>
</a>
