---
import { Image } from 'astro:assets';
import avatar from '@/images/avatar-transparent.png';
import { linkedIn } from '@/constants/links';
import SocialLink from '@/components/SocialLink.astro';
import { github, twitter } from '@/constants/links';
import { buttonVariants } from '@/components/ui/Button';
import { Github, Linkedin, Twitter } from 'lucide-react';
---

<section
  class="flex flex-1 flex-col items-center justify-center gap-8 lg:mx-24 lg:flex-row lg:justify-between"
>
  <div
    class="flex flex-col justify-center gap-12 pt-12 lg:basis-[30rem] lg:items-stretch lg:pt-0"
  >
    <h1 class="text-3xl md:text-5xl">
      Meet{' '}<strong class="font-black">Ore Adeleye.</strong>
    </h1>
    <div class="flex flex-col gap-2 lg:mx-0 lg:gap-4">
      <h2 class="text-2xl font-semibold italic md:text-4xl">
        Architect of the Web
      </h2>
      <div class="text-neutral-500 md:text-2xl">
        Bridging gaps and building bridges<br />
        across the full tech stack
      </div>
    </div>
    <div
      class="flex items-end justify-center gap-8 lg:flex-1 lg:flex-grow-0 lg:justify-start lg:pb-6"
    >
      <a href="/#projects" class={buttonVariants({ size: 'lg' })}>
        See my works
      </a>
      <a
        href={linkedIn}
        class={buttonVariants({ variant: 'outline', size: 'lg' })}
        target="_blank"
      >
        Talk with me
      </a>
    </div>
  </div>
  <div
    class="flex flex-1 flex-col items-start justify-center gap-16 lg:mr-32 lg:basis-1/2 lg:gap-32"
  >
    <Image src={avatar} class="size-fit" alt="Ore's picture" />
  </div>
  <div class="absolute right-8 top-48 flex flex-col gap-4 lg:top-auto">
    <SocialLink href={github} title="GitHub"><Github /></SocialLink>
    <SocialLink href={linkedIn} title="LinkedIn"><Linkedin /></SocialLink>
    <SocialLink href={twitter} title="Twitter"><Twitter /></SocialLink>
  </div>
</section>
